extends layout.pug 

block metadata 
    title=title 

block content 
    h1 Control de gastos
    p Bienvenido a tu aplicación de control de gastos. Aquí podrás registrar tus ingresos y gastos para llevar un mejor control de tus finanzas personales